<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Matt's Favorite Spots</title>

    <!-- STYLESHEETS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/styles.css">

    <!-- VENDOR SCRIPTS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.min.js"></script>

    <!-- APPLICATION SCRIPTS -->
    <script src="/scripts/app.js"></script>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <h1>Dope Places to Travel</h1>
          <h4><a href="/api">Read My API Documentation</a></h4>
        </div>
      </div>
    </div>
    <div id="profile">
      <script id="entry-template" type="text/x-handlebars-template">
        <div class="entry">
          {{#objects}}
            {{profile}}
          {{/objects}}
        </div>
    </div>
  </script>
    <div id="destination">
      <script id="entry-template2" type="text/x-handlebars-template">
        <div class="entry">
          {{#objects}}
            <img src="{{destination.city}}"/>
            {{destination}}
          {{/objects}}
        </div>
      <div class="panel-footer">
      </div>
    </div>
  </script>
  </body>
</html>
